
/* booking layout styles */

.tx-ubleipzigbooking-pi1 .message {
  background-color: #f08a24;
  border: 2px solid #E04644;
  padding: .25rem;
}

.tx-ubleipzigbooking-pi1 #messageBoxOverlay {
  background: #000000;
  display: none;
  filter: alpha(opacity=50);
  height: 100%;
  left: 0;
  -moz-opacity: 0.5;
  opacity:.50;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.tx-ubleipzigbooking-pi1 #messageBox {
  background-color: white;
  border: 2px solid #E04644;
  display: none;
  font-weight: bold;
  padding: 1.5rem;
  position: fixed;
  z-index: 1001;
}

.tx-ubleipzigbooking-pi1 #messageBox .closeButton {
  margin-top: 1.5rem;
  text-align: center;
}

.tx-ubleipzigbooking-pi1 .legend div {
  float: left;
}

.tx-ubleipzigbooking-pi1 .legendTitle {
  float: left;
  font-size: .85em;
  margin: 0 .5rem 1rem .25rem;
}

.tx-ubleipzigbooking-pi1 .legend .available,
.tx-ubleipzigbooking-pi1 .legend .someAvailable,
.tx-ubleipzigbooking-pi1 .legend .someQuarterAvailable,
.tx-ubleipzigbooking-pi1 .legend .notAvailable,
.tx-ubleipzigbooking-pi1 .legend .offDutyTime {
  border: 1px solid black;
  font-size: .85em;
  height: 1rem;
  text-align: center;
  width: 1rem;
}

.tx-ubleipzigbooking-pi1 .legend .available {
  background-color: #e7e7e7;
}

.tx-ubleipzigbooking-pi1 .legend .someAvailable {
  background-color: #CCFFCC;
}

.tx-ubleipzigbooking-pi1 .someQuarterAvailable {
  background-color: #C0F0C0;
}

.tx-ubleipzigbooking-pi1 .legend .notAvailable {
  background-color: #FFCC00;
}
.tx-ubleipzigbooking-pi1 .legend .offDutyTime {
  background-color: #E04644;
}

.tx-ubleipzigbooking-pi1 .calendarWeek {
  font-size: 1.0em;
  font-weight: bold;
  margin-top: 1.5rem;
}

.tx-ubleipzigbooking-pi1 .calendarWeek .legend .offDutyHour,
.tx-ubleipzigbooking-pi1 .calendarWeek .legend .bookedHour,
.tx-ubleipzigbooking-pi1 .calendarWeek .legend .availableHour {
  font-size: .85em;
  font-weight: normal;
  height: 1rem;
  padding: .25em .5em;
  width: 4rem;
}

.tx-ubleipzigbooking-pi1 .calendarWeek .legend .offDutyHour {
  background-color: #e0e0e0;
}
.tx-ubleipzigbooking-pi1 .calendarWeek .legend .bookedHour {
  background-color: #E04644;
}
.tx-ubleipzigbooking-pi1 .calendarWeek .legend .availableHour {
  background-color: #15428b;
}

.tx-ubleipzigbooking-pi1 .objectName {
  background-color: #fff;
  font-size: 1.25em;
  margin-bottom: .5rem;
  padding-top: 1rem;
  text-align: center;
}

.tx-ubleipzigbooking-pi1 .weekView .today .weekday {
  font-weight: bold;
}
.tx-ubleipzigbooking-pi1 .weekView .pastDay {
  color: #c0c0c0;
  /*visibility: hidden;*/
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}


.tx-ubleipzigbooking-pi1 .weekView td {
  /*border: 1px solid gray;*/
  border-collapse: collapse;
}
.tx-ubleipzigbooking-pi1 .weekView td.weekday {
  text-align: center;
}

.tx-ubleipzigbooking-pi1 .weekViewDay {
  float: left;
  border-collapse: collapse;
  width: 14%;
}

.tx-ubleipzigbooking-pi1 .weekViewDay td {
  border-bottom: 1px solid gray;
  border-collapse: collapse;
}

.tx-ubleipzigbooking-pi1 .weekViewDay .dutyHours,
.tx-ubleipzigbooking-pi1 .weekViewDay .bookedHours,
.tx-ubleipzigbooking-pi1 .weekViewDay .ownbookedHours,
.tx-ubleipzigbooking-pi1 .weekViewDay .offDuty,
.tx-ubleipzigbooking-pi1 .weekViewDay .offDutyTimeHours,
.tx-ubleipzigbooking-pi1 .offDutyTime {
  border-bottom: 1px solid gray;
  color: #fff;
  padding: .25em 0;
  text-align: center;
}

.tx-ubleipzigbooking-pi1 .weekViewDay .dutyHours {
  background-color: #15428b;
  cursor: pointer;
}

.tx-ubleipzigbooking-pi1 .weekViewDay .bookedHours {
  background-color: #E04644;
}

.tx-ubleipzigbooking-pi1 .weekViewDay .ownbookedHours {
  background-color: #f08a24;
}

.tx-ubleipzigbooking-pi1 .weekViewDay .offDuty {
  background-color: #e0e0e0;
  display: none;
  visibility: collapse;
}

.tx-ubleipzigbooking-pi1 .weekViewDay .offDutyTimeHours {
  background-color: #e0e0e0;
  cursor: auto;
}

.tx-ubleipzigbooking-pi1 .offDutyTime {
  background-color: #E04644;
  font-weight: normal;
  font-size: .85em;
  cursor: auto;
}



.tx-ubleipzigbooking-pi1 .clearer {
  clear: both;
}



.tx-ubleipzigbooking-pi1 .listMonth {
  background-color: #e0e0e0;
  float: left;
}

div.listMonth {
  width: 49%;
}

div.listMonth:nth-of-type(even) {
  margin-left: 1%;
}

.listMonth.bookingeIDResult {
  margin-bottom: 1rem;
}

.week-no,
td.week {
  color: grey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

td.week {color: #052f96;}
td.week:focus,td.week:hover {cursor: pointer;}

.tx-ubleipzigbooking-pi1 .listMonth .month,
.tx-ubleipzigbooking-pi1 .listMonth .dayNames {
  background-color: #e0e0e0;
  font-weight: bold;
  text-align: center;
}
.tx-ubleipzigbooking-pi1 .listMonth .dayNames {
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.tx-ubleipzigbooking-pi1 .listMonth .day {
  background-color: #ffffff;
  border: 1px solid black;
  text-align: center;
  font-size: .85em;
  width: 1rem;
}
.tx-ubleipzigbooking-pi1 .listMonth .available {
  background-color: #ffffff;
  border: 1px solid black;
  text-align: center;
  width: 12%;
  cursor: pointer;
}
.tx-ubleipzigbooking-pi1 .listMonth .someAvailable {
  background-color: #CCFFCC;
  border: 1px solid black;
  text-align: center;
  width: 1rem;
  cursor: pointer;
}

.tx-ubleipzigbooking-pi1 .listMonth .notAvailable {
  background-color: #FFCC00;
  border: 1px solid black;
  text-align: center;
  width: 1rem;
}
.tx-ubleipzigbooking-pi1 .listMonth .offDutyTime {
  background-color: #E04644;
  border: 1px solid black;
  text-align: center;
  width: 1rem;
  cursor: auto;

}



.tx-ubleipzigbooking-pi1 .listMonth .today {
  border: 2px solid #E04644;
}

.tx-ubleipzigbooking-pi1 .bookingFormObjectName {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .5rem;
}

.tx-ubleipzigbooking-pi1 .bookingFormDiv .date {
  font-weight: bold;
}

.tx-ubleipzigbooking-pi1 .bookingFormDiv .pastDay {
  color: #c0c0c0;
}

.tx-ubleipzigbooking-pi1 .bookingForm {
  background-color: #e0e0e0;
}
.tx-ubleipzigbooking-pi1 .bookingForm .titles {
  font-weight: bold;
}
/*
.tx-ubleipzigbooking-pi1 .bookingForm .even {
  background-color: #ffffff;
}
.tx-ubleipzigbooking-pi1 .bookingForm .odd {
  background-color: #CCFF99;
}
*/
.tx-ubleipzigbooking-pi1 .bookingForm .booked {
  background-color: #E04644;
}

.tx-ubleipzigbooking-pi1 .bookingForm .ownbooked {
  background-color: #339999;
}

.tx-ubleipzigbooking-pi1 .bookingForm input {
  font-weight: bold;
  color: black;
}

.tx-ubleipzigbooking-pi1 .bookingFormDiv .backToWeekView,
.tx-ubleipzigbooking-pi1 .bookingFormDiv .backToMonthView {
  color: #052f96;
  cursor: pointer;
  padding: .25rem 0 .25rem 1rem;
}

.tx-ubleipzigbooking-pi1 .bookingFormDiv .backToWeekView:hover,
.tx-ubleipzigbooking-pi1 .bookingFormDiv .backToWeekView:focus,
.tx-ubleipzigbooking-pi1 .bookingFormDiv .backToMonthView:hover,
.tx-ubleipzigbooking-pi1 .bookingFormDiv .backToMonthView:focus {
  color: #37425e;
}

.tx-ubleipzigbooking-pi1  .errorMessage {
  width: 100%;
  background-color: #FFFF66;
  border: 2px solid #E04644;
  font-weight: bold;
  padding: .5rem;
}


.button.transparent,
button.transparent {
  background: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: .25rem .5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease-out;
}

.tx-ubleipzigbooking-pi1 input[type="text"] {
  margin-bottom: 0;
}

.tx-ubleipzigbooking-pi1 .fa-check:hover,
.tx-ubleipzigbooking-pi1 .fa-check:focus {
  color: #339999;
  cursor: pointer;
}
.tx-ubleipzigbooking-pi1 .fa-times:hover,
.tx-ubleipzigbooking-pi1 .fa-times:focus {
  color: #E04644;
  cursor: pointer;
}

.offDutyTimeHours::after,
.dutyHours::after,
.offDuty::after,
.offDutyTimeHours::after,
.bookedHours::after,
.tx-ubleipzigbooking-pi1 .fa-check:hover::after,
.tx-ubleipzigbooking-pi1 .fa-check:focus::after,
.tx-ubleipzigbooking-pi1 .fa-times:hover::after,
.tx-ubleipzigbooking-pi1 .fa-times:focus::after {
  display: none;
  font-size: .85rem;
  padding-left: .25rem;
  position: relative;
  z-index: 100;
}




.L-0 .offDutyTimeHours::after {
  content:'geschlossen';
}

.L-1 .offDutyTimeHours::after {
  content:'closed';
}
.L-0 .dutyHours::after {
  content:'buchbar';
}

.L-1 .dutyHours::after {
  content:'bookable';
}

.L-0 .dutyHours.offDutyTimeHours::after {
  color: #E04644;
  content:'geschlossen';
}
.L-1 .dutyHours.offDutyTimeHours::after {
  content:'closed';
}

.L-0 .offDuty::after {
  content:'nicht buchbar';
}
.L-1 .offDuty::after {
  content:'not bookable';
}

.L-0 .bookedHours::after {
  content:'nicht buchbar';
}
.L-1 .bookedHours::after {
  content:'not bookable';
}

.L-0 .tx-ubleipzigbooking-pi1 .fa-check:hover::after,
.L-0 .tx-ubleipzigbooking-pi1 .fa-check:focus::after {
  content: 'buchen';
  display: block;
}

.L-1 .tx-ubleipzigbooking-pi1 .fa-check:hover::after,
.L-1 .tx-ubleipzigbooking-pi1 .fa-check:focus::after {
  content: 'book this';
  display: block;
}

.L-0 .tx-ubleipzigbooking-pi1 .fa-times:hover::after,
.L-0 .tx-ubleipzigbooking-pi1 .fa-times:focus::after {
  color: #fff;
  content: 'löschen';
}

.L-1 .tx-ubleipzigbooking-pi1 .fa-times:hover::after,
.L-1 .tx-ubleipzigbooking-pi1 .fa-times:focus::after {
  color: #fff;
  content: 'delete';
}

.L-0 .tx-ubleipzigbooking-pi1 tr.ownbooked td:nth-last-of-type(2)::after {
  color: #fff;
  content: 'gebucht';
}

.L-1 .tx-ubleipzigbooking-pi1 tr.ownbooked td:nth-last-of-type(2)::after {
  color: #fff;
  content: 'booked';
}

.offDutyTimeHours:hover::after,
.dutyHours:hover::after,
.offDuty:hover::after,
.offDutyTimeHours:hover::after,
.bookedHours:hover::after,
.tx-ubleipzigbooking-pi1 .fa-check:hover::after,
.tx-ubleipzigbooking-pi1 .fa-check:focus::after,
.tx-ubleipzigbooking-pi1 .fa-times:hover::after,
.tx-ubleipzigbooking-pi1 .fa-times:focus::after {
 display: block;
}

.tx-ubleipzigbooking-pi1 table tr th,
.tx-ubleipzigbooking-pi1 table tr td {
  padding: .5rem;
  vertical-align: middle;
  width: auto;
}

.tx-ubleipzigbooking-pi1 table tr td {
  text-align: center;
}




@media screen and (max-width: 500px) {
 .tx-ubleipzigbooking-pi1 table tr td {
    font-size: .85rem;
    padding: 0;
  }
}




/*
@media screen and (max-width: 360px){
  .tx-ubleipzigbooking-pi1 table thead {display: none;}
  .tx-ubleipzigbooking-pi1 table tr {
    margin-bottom: .25rem;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  .tx-ubleipzigbooking-pi1 table td {    display: block;
    text-align: right;
    font-size: .85rem;
    border-bottom: 1px dotted #ccc;
  }
  .tx-ubleipzigbooking-pi1 table td:last-child {
    border-bottom: 0;
  }
  .tx-ubleipzigbooking-pi1 table td:before {
    content: attr(data-title);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
*/