{namespace ubl=Ubl\Booking\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
    <div class="container-fluid">
        <f:for each="{Rooms}" as="Room">
            <div class="calendarWeek row">
                <div class="roomDescription">{Room.name}</div>
                <div class="legend">
                    <span class="offDutyHour"><f:translate key="off">[off]</f:translate></span>
                    <span class="bookedHour"><f:translate key="foreignBooked">[foreignbooked]</f:translate></span>
                    <span class="ownBookedHour"><f:translate key="ownBooked">[ownBooked]</f:translate></span>
                    <span class="availableHour"><f:translate key="free">[free]</f:translate></span>
                </div>

                <div class="weekNavigation">
                    <f:if condition="{previousWeek}">
                        <f:link.action title="{f:translate(key:'previousWeek')}" class="transparent tiny" action="showWeek" arguments="{timestamp: previousWeek}">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </f:link.action>
                    </f:if>
                    <span class="calendarWeek">
                    <f:translate key="calendarWeek">[calendarWeek]</f:translate>
                    <ubl:date format="W/Y" object="{Room.week}"/>
                </span>
                    <f:if condition="{nextWeek}">
                        <f:link.action title="{f:translate(key:'nextWeek')}" class="transparent tiny" action="showWeek" arguments="{timestamp: nextWeek}">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </f:link.action>
                    </f:if>
                </div>
                <div class="weekView">
                    <f:for each="{Room.week}" as="Day" iteration="iterator">
                        <div class="weekViewDay small-1 container-fluid {f:if(condition:iterator.isLast, then: 'end')}">
                            <div class="tableheader{f:if(condition:'{Day.dateTime} < {Today.dateTime}', then:' past')}">
                                <f:translate key="{ubl:date(format:'D',object:Day)}">[WeekDay]</f:translate>
                                <ubl:date format="d.m." object="{Day}" />
                            </div>
                            <ubl:bookable room="{Room}" day="{Day}">
                                <f:then>
                                    <f:link.action name="{Day.title}" title="{Day.title}" action="showDay" arguments="{timestamp: Day.timestamp, room: Room}">
                                        <f:for each="{Day}" as="Hour">
                                            <div class="row {ubl:getHourOccupationClass(room: Room, hour: Hour)}{f:if(condition:'{Hour.dateTime} < {Now}', then:' past')}">
                                                <ubl:date format="H" object="{Hour}" /> &ndash;
                                                <ubl:date modify="next hour" format="H" object="{Hour}" />
                                            </div>
                                        </f:for>
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <f:for each="{Day}" as="Hour">
                                        <div class="row {ubl:getHourOccupationClass(room: Room, hour: Hour)}{f:if(condition:'{Hour.dateTime} < {Now}', then:' past')}">
                                            <ubl:date format="H" object="{Hour}" /> &ndash;
                                            <ubl:date modify="next hour" format="H" object="{Hour}" />
                                        </div>
                                    </f:for>
                                </f:else>
                            </ubl:bookable>
                        </div>
                    </f:for>
                </div>
            </div>
        </f:for>
    </div>
</f:section>