{namespace ubl=Ubl\Booking\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
    <div class="bookingFormDiv">
        <div class="bookingFormObjectName">{Room.name}</div>
        <div class="date left">
            <!-- previous day -->
            <f:if condition="{previousDay}">
                <f:link.action action="showDay" arguments="{timestamp: previousDay, room: Room}"><i
                        class="fa fa-chevron-left"
                        aria-hidden="true"></i>
                </f:link.action>
            </f:if>
            <span id="bookingeIDWorking">
                <f:translate key="{ubl:date(format:'l',object:Room.day)}">[weekDays]</f:translate>, <ubl:date format="d.m.Y" object="{Room.day}"/></span>
            <!-- next day -->
            <f:if condition="{nextDay}">
                <f:link.action action="showDay" arguments="{timestamp: nextDay, room: Room}"
                               class="display: inline"><i
                        class="fa fa-chevron-right" aria-hidden="true"></i>
                </f:link.action>
            </f:if>
        </div>
        <!-- week view -->
        <div class="right">
            <f:link.action class="backToWeekView" action="showWeek"
                           arguments="{timestamp: Room.day.timestamp}"><f:translate key="backToWeekView">[backToWeekView]</f:translate>
            </f:link.action>
        </div>
        <table class="bookingForm ">
            <thead>
            <tr class="titles">
                <td><f:translate key="time">[time]</f:translate></td>
                <td><f:translate key="comment">[comment]</f:translate></td>
                <td><f:translate key="reserve">[reserve]</f:translate></td>
                <td><f:translate key="remove">[remove]</f:translate></td>
            </tr>
            </thead>
            <tbody>
            <f:for each="{Room.day}" as="Hour" iteration="iterator">
                <tr class="{ubl:getHourOccupationClass(room: Room, hour: Hour)}">
                    <td>
                        <ubl:date format="H:i" object="{Hour}"/> &ndash;
                        <ubl:date modify="next hour" format="H:i" object="{Hour}"/>
                    </td>
                    <f:if condition="<ubl:getOccupation room='{Room}' hour='{Hour}' /> == 'available'">
                        <f:render partial="Occupation/Available" arguments="{room:Room, hour:Hour}" />
                    </f:if>
                    <f:if condition="<ubl:getOccupation room='{Room}' hour='{Hour}' /> == 'byMyselfBooked'">
                        <f:render partial="Occupation/ByMyselfBooked" arguments="{room:Room, hour:Hour}" />
                    </f:if>
                    <f:if condition="<ubl:getOccupation room='{Room}' hour='{Hour}' /> == 'byOtherBooked'">
                        <f:render partial="Occupation/ByOtherBooked" arguments="{room:Room, timestamp: Hour.datetime }" />
                    </f:if>
                    <f:if condition="<ubl:getOccupation room='{Room}' hour='{Hour}' /> == 'offDuty'">
                        <f:render partial="Occupation/OffDuty" />
                    </f:if>
                </tr>
            </f:for>
            </tbody>
        </table>
        <div class="right">
            <f:link.action class="backToWeekView" action="showWeek" arguments="{timestamp: Room.day.timestamp}"><f:translate key="backToWeekView">[backToWeekView]</f:translate>
            </f:link.action>
        </div>
    </div>
</f:section>
