{namespace ubl=Ubl\Booking\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
    <div class="bookingFormDiv">
        <div class="bookingFormObjectName">{Room.name}</div>
        <div class="date left">
            <!-- previous day -->
            <f:if condition="{previousDay}">
                <f:link.action action="showDay" arguments="{timestamp: previousDay, room: Room}"><i
                        class="fa fa-chevron-left"
                        aria-hidden="true"></i>
                </f:link.action>
            </f:if>
            <span id="bookingeIDWorking">
                <f:translate key="{ubl:date(format:'l',object:Room.day)}">[weekDays]</f:translate>, <ubl:date format="d.m.Y" object="{Room.day}"/></span>
            <!-- next day -->
            <f:if condition="{nextDay}">
                <f:link.action action="showDay" arguments="{timestamp: nextDay, room: Room}"
                               class="display: inline"><i
                        class="fa fa-chevron-right" aria-hidden="true"></i></f:link.action>
            </f:if>
        </div>
        <!-- week view -->
        <div class="right">
            <f:link.action class="backToWeekView" action="showWeek"
                           arguments="{timestamp: Room.day.timestamp}"><f:translate key="backToWeekView">[backToWeekView]</f:translate>
            </f:link.action>
        </div>
        <table class="bookingForm ">
            <thead>
            <tr class="titles">
                <td><f:translate key="time">[time]</f:translate></td>
                <td><f:translate key="comment">[comment]</f:translate></td>
                <td><f:translate key="reserve">[reserve]</f:translate></td>
                <td><f:translate key="remove">[remove]</f:translate></td>
            </tr>
            </thead>
            <tbody>
            <f:for each="{Room.day}" as="Hour" iteration="iterator">
                <tr class="{ubl:getHourOccupationClass(room: Room, hour: Hour)}">
                    <td>
                        <ubl:date format="H:i" object="{Hour}"/> &ndash;
                        <ubl:date modify="next hour" format="H:i" object="{Hour}"/>
                    </td>
                    <ubl:occupationSwitch room="{Room}" hour="{Hour}">
                        <f:case value="available">
                            <ubl:bookable room="{Room}" hour="{Hour}">
                                <f:then>
                                    <f:form action="add" arguments="{timestamp: Hour.timestamp, room: Room}">
                                        <td><f:form.textfield name="comment" class="comment"></f:form.textfield></td>
                                        <td><button type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        </td>
                                    </f:form>
                                    <td></td>
                                </f:then>
                                <f:else>
                                    <td><input type="text" class="comment" value="" disabled="disabled"></td>
                                    <td></td>
                                    <td></td>
                                </f:else>
                            </ubl:bookable>
                        </f:case>
                        <f:case value="ownBooked">
                            <td><input type="text" class="comment"
                                       value="{ubl:getBookingComment(room: Room, timestamp: Hour.datetime)}" disabled="disabled"></td>
                            <td></td>
                            <td>
                                <ubl:bookable room="{Room}" hour="{Hour}">
                                    <f:link.action title="{ubl:date(format:'H:i', object: Hour)}" action="remove" arguments="{timestamp: Hour.timestamp, room: Room}"><i
                                            class="fa fa-times" aria-hidden="true"></i></f:link.action>
                                </ubl:bookable>
                            </td>
                        </f:case>
                        <f:case value="foreignBooked">
                            <td><input type="text" class="comment"
                                       value="{ubl:getBookingComment(room: Room, timestamp: Hour.datetime)}"
                                       disabled="disabled"></td>
                            <td></td>
                            <td></td>
                        </f:case>
                        <f:case value="offDuty">
                            <td><input type="text" class="comment"
                                       value=""
                                       disabled="disabled"></td>
                            <td></td>
                            <td></td>
                        </f:case>
                    </ubl:occupationSwitch>
                </tr>
            </f:for>
            </tbody>
        </table>
        <div class="right">
            <f:link.action class="backToWeekView" action="showWeek" arguments="{timestamp: Room.day.timestamp}"><f:translate key="backToWeekView">[backToWeekView]</f:translate>
            </f:link.action>
        </div>
    </div>
</f:section>
